footer
	.container.text-center
	p.pull-left © 2015 Aquin Yoga, Inc. All Rights Reserved
	

	script(type="text/javascript").
		function showNote(){	
			$('#notesfrm').show();
			$('#noteBtn').hide();
		}