extends ../layout

block content
		.row
			.col-sm-12
				h2.header Agenda
				ol
				- for event in agenda
					if (event.start.dateTime)
						li= moment(event.start.dateTime).format("MMM DD hh:mm a") + ' ' + event.summary
					else
						li= moment(event.start.date).format("MMM DD") + ' ' + event.summary

