extends layout

block content
  .row
    .col-sm-12
      h2 
        a(href="/notes") Notes

        h4= note.title
        p(style='white-space:pre;')= note.note
        span
          em= moment(note.date).format("MM/DD/YYYY") + ' at ' + moment(note.date).format("hh:mm a")
        hr