extends ../layout

block content
  .row
    .col-sm-12
      h2 
        a(href="/notes") Notes
      form(method='POST', action='/savenote/'+note.num, id='notesform')
        input(type='hidden', name='_csrf', value=_csrf)
        h4
          input.form-control(type='text', name='noteTitle', id='noteTitle', value=note.title)
        textarea.form-control(type='textarea', name='note', id='notes', rows='10', form='notesform')= note.note
        br
        input.btn.btn-default(type='submit', value='Save Note »')