extends ../layout

block content
		.row
			.col-sm-12
				h2.header Inspiration
				div(style="width: 755px; margin: auto;")
					a(data-pin-board-width="750" data-pin-do="embedBoard" data-pin-scale-height="325" data-pin-scale-width="320" href="https://www.pinterest.com/aquinyoga/quotes-and-inspiration/")
					script(async defer src="//assets.pinterest.com/js/pinit.js")

